<div class="float-right">
	<span class="mdi" [ngClass]="track.icon()"></span>
	<div class="btn-group">
		<button (click)="openChooseModal(trackModal)" class="btn btn-sm btn-secondary">Choose Track</button>
		<button (click)="trackDeleted.emit(track)" class="btn btn-sm btn-secondary">
			<span class="mdi mdi-close-circle"></span>
		</button>
	</div>
</div>

<span [textContent]="track.title()"></span>

<template #trackModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<button type="button" class="close" (click)="d()"><span>&times;</span></button>
		<h4 class="modal-title">Select Music File ...</h4>
	</div>
	<div class="modal-body">
		<div class="row">

			<div class="col-md-2">
				<div class="list-group">
					<a href="#" (click)="activeTab = 'local'" [class.active]="activeTab == 'local'" class="list-group-item">Local</a>
					<a href="#" (click)="activeTab = 'youtube'" [class.active]="activeTab == 'youtube'" class="list-group-item">YouTube</a>
					<a href="#" (click)="activeTab = 'spotify'" [class.active]="activeTab == 'spotify'" class="list-group-item">Spotify</a>
					<a href="#" (click)="activeTab = 'dropbox'" [class.active]="activeTab == 'dropbox'" class="list-group-item">Dropbox</a>
					<a href="#" (click)="activeTab = 'deezer'" [class.active]="activeTab == 'deezer'" class="list-group-item">Deezer</a>
				</div>
			</div>

			<div class="col-md-10">

				<dnd-track-chooser-local
					[hidden]="activeTab != 'local'">
				</dnd-track-chooser-local>

				<dnd-track-chooser-youtube
					[hidden]="activeTab != 'youtube'"
					[track]="track"
					(created)="c($event)">
				</dnd-track-chooser-youtube>

				<div [hidden]="activeTab != 'spotify'">
					Spotify
				</div>

				<dnd-track-chooser-dropbox
					[hidden]="activeTab != 'dropbox'"
					[track]="track"
					(created)="c($event)">
				</dnd-track-chooser-dropbox>

		<dnd-track-chooser-deezer
					[hidden]="activeTab != 'deezer'"
					[track]="track"
					(created)="c($event)">
		</dnd-track-chooser-deezer>

			</div>
		</div>
	</div>
</template>
